html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans" !important;
    overflow: hidden;
    zoom: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-start;
    background-color: #F6F6F6 !important;
}

#slideshow>div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    margin-top: 15vh;
    top: 0.0vw;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

h2 {
    position: absolute;
    top: 91%;
    left: 13.0%;
    border-radius: 2.0vw;
    background-color: #e0e0e0;
    font-size: 1.4vw !important;
    font-weight: bold !important;
    padding: calc(0.75*1.0vw) calc(1.5vw*0.75) calc(1.0vw*0.75) calc(1.5vw*0.75);
    margin: 0 !important;
    color: #0000b8 !important;
}

img {
    width: 75%;
    height: 100%;
}

div img {
    border-radius: 2vw;
}

.small-descriptions {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 12.5%;
    padding-right: 12.5%;
    height: 10vh;
    top: 90vh !important;
    position: absolute;
    font-size: 1.1vw;
    width: 100% !important;
}

.dane-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    position: relative !important;
    margin: 0 !important;
}

.design-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    position: relative !important;
    margin: 0 !important;

}

.descriptions {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 12.5%;
    padding-right: 12.5%;
    height: 15vh;
}

.nadpis {
    color: #0000CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.0vw;
    font-weight: bold;
    position: relative !important;
    margin: 0 !important;
}

.slogan {
    color: #0000CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.0vw;
    font-weight: bold;
    position: relative !important;
    margin: 0 !important;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
